*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(tablet-landscape) {
        font-size: 56.25%;
    }

    @include respond(tablet-portrait) {
        font-size: 50%;
    }

    @include respond(big-screen) {
        font-size: 75%;
    }
}

body {
    font-family: 'Lato', sans-serif;
    padding: 2.4rem;

    @include respond(tablet-portrait) {
        padding: 0;
    }
}